// variables
$color-white: #fff;
// mixins
@mixin padding($a, $b, $c, $d){
	padding: #{$a}px, #{$b}px, #{$c}px, #{$d}px;
	border: 1px solid black;
}
//
@import '/css/variables.css';

/////////////////////////////////////////////////////////////////
.header {
   // color: $color-white;
	// @include padding(10, 10, 10, 10);
}
